# Virtual Environment 
.venv/
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# VS Code
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage
.pytest_cache/
.coverage
htmlcov/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db